<header class="site-header l-grid l-grid-normal" role="banner">
  <div class="site-header__content">
    <a class="site-header-pic" style="background-image: url({{ site.site_pic }})" href="{{ site.baseurl }}/" alt="Ilustração estilizada baseada no meu rosto. Ela mostra uma pessoa de pele branca, com barba e bigode baixos, olhos castanhos e cabelo preto. Está com um meio sorriso e vestindo um terno preto, uma camiseta social amarela e uma gravata preta. Há vários elementos vinculado ao super-herói demolidor na ilustração, como dois chifres desenhados em cima da testa, um logo com as letras DD no terno e no fundo da imagem há a representação de um sensor em um fundo vermelho." ></a>
    <a class="site-header__title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <button id="header-menu-toggle" class="site-header__menu-toggle button--icon" aria-expanded="false" aria-controls="header-menu">
      <span class="screen-reader-only">Toggle Menu</span>
      {% include "images/icon-menu" %}
    </button>
    <div id="header-menu" class="header-menu" aria-hidden="true">
      <nav class="header-nav" name="Primary">
        {%- for link in collections.nav -%}
          <a class="header-nav__link" href="{{ link.url | prepend: site.baseurl }}">{{ link.data.menu_title }}</a>
        {%- endfor -%}
      </nav>

      <div class="header-nav__toggle">
        {% include "partials/_toggle" %}
      </div>
    </div>
  </div>
</header>
